.fileIcon {
    display: flex;
    border: 1px solid rgba(76, 0, 255, 0.603);
    padding: 5px;
    margin: 5px;
    width: auto;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 2px 2px 5px rgb(66, 66, 66);
    position: relative
}

.fileIcon button {
    width: 2em;
    height: 2em;
    background-color:  white;
    border: 1px solid (0,0,0,0.0);
    border-radius: 2em;
    opacity: 20%;
    text-shadow: 2px 2px 5px black;
    right: 5px;
    position: absolute;
}

.fileIcon button:hover{
    opacity: 100%;
    cursor: pointer;
    color: red;
    border-radius: 2em;
}

.fileIcon button:disabled{
    color: darkgray;
    background-color: grey;
    border-radius: 2em;
}