.messages {
    display: flex;
    flex-flow: column nowrap;
    grid-area: mess;
}

.message {
    height: 2em;
    margin: 0.25em 0;
    padding: 0.5em;
    color: black;
    background-color: white;
    border-radius: 1em;
}

.inputMessage input {
    width: 100%;
    margin: 10px 0;
    height: 60px;
    padding: 1em;
    font-size: 1em;
    resize: none;
}

.inputMessage  button {
    width: 100%;
    height: 30px;
    color: white;
    background-color: rgba(76, 0, 255, 0.603);
    border: 1px solid (0,0,0,0.0);
    border-radius: 2em;
    text-shadow: 2px 2px 5px black;
    box-shadow: 2px 2px 5px rgb(66, 66, 66);
}

.inputMessage button:hover {
    cursor: pointer;
    color: blue;
    background-color: white;
    border-radius: 2em;
}

.inputMessage .errorMessage {
    margin: 5px;
    color: red;
    height: 1em;
}

.inputMessage .errorArea {
    border: 1px solid red ;
    color: red;
}