.header {
    grid-area: h;
    background-image: url(http://dgdesign.ru/uploads/posts/2019-02/1549455082_shapka-sayta-vesna-1151132.jpg); 
    background-position: right; 
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
}
  
.avatar {
    padding-left: 1em;
}

.avatar img {
    height: 100%;    
    box-sizing: border-box;
}

.header .loginBlock {
    height: 100%
}

.loginBlock :active{
    color: white
}