.header {
    grid-area: h;
    background-image: url(http://dgdesign.ru/uploads/posts/2019-02/1549455082_shapka-sayta-vesna-1151132.jpg); 
    background-position: right; 
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    width: 100%; 
}
  
.header .avatar {
    padding-left: 1em;
}

.avatar img {
    height: 100%;    
    box-sizing: border-box;
}

.header .loginBlock {    
    width: 200px;
    height: 100%;
    padding-left: 20px;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.header .loginBlock .loginItem{
    margin: 5px;
}  

.loginBlock :active{
    color: white
}