.nav {
  grid-area: n;
  padding: 10px;
  background-color: rgba(76, 0, 255, 0.603);
}

.item a{
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}


.item a.activeLink {
  color: rgba(0, 26, 255, 0.863);
}