.friend {
  width: 100px;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 0.5em;
}

.friend img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 0.2em solid white;
  box-shadow: 2px 1px 5px black;
}

.friend a{
  color: white;
  text-decoration: none;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
}

