.likes {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1em;
}

.likes .itemLikesCount {
    padding: 0.5em;
    align-self: flex-end;
}

.likes .itemLikesCount:hover {
    cursor: pointer;
    color: red;
}