.item {
    display: flex;
    width: 480px;
    flex-flow: column nowrap;
    padding: 1em;
    margin: 0.5em 0.5em;
    border-radius: 1em;
    color: black;
    background-color: white
}

.item img {
    object-fit: cover;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.item .itemInfo {
    padding: 0.5em 0; 
    width: 100%;
}

.itemMessage {
    padding:  0.5em; 
    padding-bottom: 0;
    width: 100%;
    text-align: center;
}

.itemLikesCount {
    padding: 0.5em;
    align-self: flex-end;
}