.item {
    display: flex;
    width: 480px;
    flex-flow: column nowrap;
    padding: 1em;
    margin: 0.5em 0.5em;
    border-radius: 1em;
    color: black;
    background-color: white
}

.item img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.itemMessage {
    margin: 1em 0;
    padding: 1em 0; 
    border-radius: 1em;
    text-align: center;
}

.itemLikesCount {
    align-self: flex-start;
}