.news {
    font-size: 1.2em;
    text-align: center;
}

.news .allNews {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
}

.news .item {
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    margin: 0.25em 0.25em;
    border-radius: 1em;
    color: black;
    background-color: white;
    position: relative;
}

.news .item .itemInfo {
    display: flex;
    flex-flow: column;
}

.news .item .itemInfo > img{
    margin-top:80px;
    height: 100%;
    width: 100%;
}

.news .item .itemAuthor {
    position: absolute;
    top: 10px;
    left: 10px;
    
}

.news .item .itemMessage {  
    height: 30px;  
    margin: 20px;
    margin-top: 100px;
    text-align: start;
    hyphens: auto;
    top: 120px;
    border-top: 1px solid violet 
    /* word-wrap: break-word; */
}

.news .item  .avatar img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.news .imagesAlbum {
    display: flex;
    margin: 20px;
    flex-flow: row wrap;
}

.news .imagesAlbum > img {
    width: 100px;
    justify-content: center;
    flex-grow:  1;
    object-fit: cover;
}
