.news {
    font-size: 1.2em;
    text-align: center;
}

.news .allNews {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
}

.news .item {
    width: 450px;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    padding: 0.5em;
    margin: 0.25em 0.25em;
    border-radius: 1em;
    color: black;
    background-color: white
}

.news .item .itemInfo {
    padding: 0.5em 0; 
    display: flex;
    width: 100%;
}

.news .item .itemAuthor {
    width: 70px;
    height: 70px;
}

.news .item .itemMessage {
    padding: 0 1em 1em 1em;
    width: 200px;
    text-align: start;
    hyphens: auto;
    /* word-wrap: break-word; */
}

.news .item img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.news .itemLikesCount {
    padding: 0.5em;
    align-self: flex-end;
}

.news .itemLikesCount:hover {
    cursor: pointer;
    color: red;
}