*{  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-wrapper {
  margin: 0 auto;
  height: 100vh;
  width: 1200px;
  display: grid; 
  grid-template-areas: "h h" "n c";
  grid-template-rows: 150px 1fr;
  grid-template-columns: 150px 10fr; 
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgba(153, 0, 255, 0.336);
  height: 100%;
}