.dialogsContainer {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    font-size: 1.2em;
}

.dialogsItems {
    display: flex;
    flex-flow: row nowrap;
    grid-area: dial;
}
